@import "base"
@import "navbar"

html, body, #wrapper
	background: #FFF
	border: none
	box-sizing: border-box
	font-family: $sans-serif
	min-height: 100%
	margin: 0
	outline: none
	padding: 0
	width: 100%
	transition: all 0.3 ease-in-out

body
	overflow-y: auto

::selection
	background: $primary-color

::-moz-selection
	background: $primary-color

a, a:link, a:hover, a:focus
	outline: none
	transition: all 0.3 ease-in-out

h1, h2, h3, h4, h5, h6
	font-family: $serif

#Intro
	h1, h3
		text-align: center
	p
		text-align: left
		padding: 20px 0
	.cc
		padding: 3rem 0
		min-height: 100vh
		background: #FFF

#landing-logo
	max-width: 150px
