---
title: Archive
description: Collection of our previously held contests and their problems
layout: page
---

<p>
	On this page, you can see the questions and contest pages from the past <em>Code Hackathon</em> weeks and now, the <em>Rookie Hour</em> challenges. We encourage you to read through the problem sets and practice.
</p>
<p>
	<strong>Note:</strong> Starting with <em>Code Hackathon Week 3</em>, we will not be publishing solutions for our questions. We believe that trying to solve a question on your own is the best way to learn &amp; improve. The sense of satisfaction that we gain on successfully solving a question and all of its hidden test cases is something that keeps us going. This kind of tenacity is what interviewers look for in freshers: persistence, self-reliance, hard-work, and above all, patience. So pick a time that suits you &amp; stick to it. Practice, practice, practice!
</p>
<div class="event-card-group pt-5">
	{% for event in site.data.events %}{% if event.has_ended %}<div class="event-card">
		<h3>{% if event.title != "Code Hackathon" %}{{ event.title }} {% endif %}{{ event.order }}</h3>
		<h4>
		{% unless event.links%}
			<span class="badge badge-dark">No links yet</span>
		{% endunless %}
		{% for link in event.links %}
			<a href="{{ link.url }}" class="badge badge-info" target="_blank">{{ link.title }}</a>
		{% endfor %}
		</h4>
	</div>{% endif %}{% endfor %}
</div>

<div class="alert alert-info my-4" role="alert">
	In such online programming competitions, there are only either correct &amp; incorrect answers. No partial ones. If you have any issues, doubts or queries with any of our questions or provided solutions, then please feel free to <a href="contact" class="alert-link" target="_blank">message us</a>.
</div>

<div id="suggestion-grid">
	<a href="schedule">
		<div id="suggest-one" class="suggestion-card">
			<h3>🗓️ Schedule</h3>
			<h5>Save the date</h5>
		</div>
	</a>
</div>
