---
title: Contact Us
description: Reach out to our team for any queries
layout: page
---

<div class="table-responsive">
	<table class="table table-striped table-borderless table-hover">
		<tbody>
			{% for member in site.data.team %}
			<tr>
				<th scope="row">
					{% if member.website %}
					<a href="{{ member.website }}" target="_blank">{{ member.name }}</a>
					{% else %}
					{{ member.name }}
					{% endif %}
				</th>
				<td class="text-md-right">
					<a href="tel:{{ member.whatsapp }}" target="blank">WhatsApp</a> &middot;
					<a href="mailto:{{ member.email }}" target="blank">Email</a> &middot;
					<a href="https://www.linkedin.com/in/{{ member.linkedin }}/" target="blank">LinkedIn</a> &middot;
					<a href="https://github.com/{{ member.github }}" target="blank">GitHub</a> &middot;
					<a href="https://hackerrank.com/{{ member.hackerrank }}" target="blank">HackerRank</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="alert alert-info my-4" role="alert">
	Issues with this website? Report it at our official <a href="{{ site.repo_url }}/issues/new/choose" class="alert-link" target="_blank">GitHub repository</a> or contact us.
</div>

<div id="FAQ">
	<h1>Common Queries</h1>
	<ul>
		<li>For upcoming events, check our <code><a href="schedule">Schedule</a></code>.</li>
		<li>For previous code hackathon winners, visit the <code><a href="leaderboard">Leaderboard</a></code>.</li>
		<li>For previous code hackathon questions &amp; solutions, search our <code><a href="archive">Archive</a></code>. If you find a solution missing or a broken link, please notify us.</li>
	</ul>
</div>

<div id="suggestion-grid">
	<a href="schedule">
		<div class="suggestion-card">
			<h3>🗓️ Schedule</h3>
			<h5>Save the date</h5>
		</div>
	</a>
	<a href="archive">
		<div class="suggestion-card">
			<h3>📚 Archive</h3>
			<h5>Previous Questions</h5>
		</div>
	</a>
	<a href="leaderboard">
		<div class="suggestion-card">
			<h3>🏆 Leaderboard</h3>
			<h5>Hall of Fame</h5>
		</div>
	</a>
</div>
