@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Lato|Playfair+Display");
.navbar {
  background: #12002d;
  background: -moz-linear-gradient(-135deg, #12002d 0%, #12002d 55%, #8132ff 100%);
  background: -webkit-linear-gradient(-135deg, #12002d 0%, #12002d 55%, #8132ff 100%);
  background: linear-gradient(-135deg, #12002d 0%, #12002d 55%, #8132ff 100%);
  box-shadow: 0 0 100px rgba(245, 250, 251, 0.5);
  text-align: center;
  transition: all 0.3s ease;
}
.navbar.hidden-nav {
  margin-top: -150vh;
}
@media (min-width: 768px) {
  .navbar {
    background: -moz-linear-gradient(15deg, #12002d 0%, #12002d 55%, #8132ff 100%);
    background: -webkit-linear-gradient(15deg, #12002d 0%, #12002d 55%, #8132ff 100%);
    background: linear-gradient(15deg, #12002d 0%, #12002d 55%, #8132ff 100%);
  }
}
.navbar .navbar-brand img {
  height: 100px;
  width: 100px;
}
.navbar .navbar-toggler {
  border: none;
  outline: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(200, 164, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar .nav-item.active .nav-link, .navbar .nav-item.active:hover .nav-link {
  border-right: 6px #c8a4ff double;
  color: #c8a4ff;
}
@media (min-width: 768px) {
  .navbar .nav-item.active .nav-link, .navbar .nav-item.active:hover .nav-link {
    border-bottom: 6px #c8a4ff double;
    border-right: none;
  }
}
.navbar .navbar-nav .nav-link, .navbar .nav-item:hover .nav-link {
  border-right: 6px #12002d double;
  color: rgba(200, 164, 255, 0.6);
  font-family: "Playfair Display", serif;
  font-size: 1.7rem;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  text-align: right;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .navbar .navbar-nav .nav-link, .navbar .nav-item:hover .nav-link {
    border-right: none;
    font-size: 1.4rem;
  }
}
.navbar .nav-item:hover .nav-link {
  color: #c8a4ff;
}

@media (max-width: 767px) {
  .navbar-collapse.collapse {
    height: 100vh;
    max-height: none;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  .navbar-collapse.collapsing {
    height: 0 !important;
  }
}
html, body, #wrapper {
  background: #f5fafb;
  border: none;
  box-sizing: border-box;
  font-family: "Lato Light", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  outline: none;
  padding: 0;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

body {
  overflow-y: auto;
}

::selection {
  background: #c8a4ff;
}

::-moz-selection {
  background: #c8a4ff;
}

@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0px;
  }
}
@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -1000px 0;
  }
}
a, a:link, a:hover, a:focus {
  color: #12002d;
  outline: none;
  transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
}

#Home {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation: backgroundScroll 30s ease-in-out infinite;
  animation-fill-mode: forwards;
  animation: backgroundScroll 30s ease-in-out infinite;
  background-attachment: fixed;
  background-color: #12002d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23490775' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23630063'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: repeat;
  text-align: center;
}
#Home h1, #Home h3 {
  color: #FFF;
  padding: 40px 0 0;
}
#Home h1 {
  font-size: 4rem;
}
#Home p {
  color: #f5fafb;
  padding: 20px 0;
}

.intro-content {
  min-height: 100vh;
  padding: 3rem 0;
}

.jumbotron-content {
  min-height: 50vh;
  padding: 3rem 0;
}

#landing-logo {
  box-shadow: 0 0 100px rgba(245, 250, 251, 0.5);
  max-width: 150px;
}

#About {
  margin-top: 4rem;
}
#About p {
  font-size: 1.2rem;
  margin-bottom: 4rem;
}
#About ul {
  font-size: 1.2rem;
  margin-bottom: 4rem;
  margin-left: -1rem;
}

#End-Game {
  background-color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  padding-bottom: 4rem;
  padding-top: 4rem;
}
#End-Game h2 {
  color: #f5fafb;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
#End-Game .btn {
  background: #c8a4ff;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(245, 250, 251, 0.5);
  color: #12002d;
  font-size: 1.4rem;
  margin: 1rem auto 0;
  position: relative;
  width: 10rem;
}
#End-Game .btn:hover {
  background: rgba(200, 164, 255, 0.9);
}
@media (min-width: 768px) {
  #End-Game .btn {
    margin: 0 2rem;
  }
}

#suggestion-grid {
  margin: 1rem auto 5rem;
  text-align: right;
}
#suggestion-grid .suggestion-card {
  display: block;
  box-sizing: border-box;
  padding: 6rem 2rem 2rem;
  margin: 1rem 1.666666%;
  width: 30%;
  float: left;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0 5px 10px rgba(57, 66, 68, 0.3);
  transition: all 0.3s ease-in-out;
}
#suggestion-grid .suggestion-card:hover {
  background: #FFF;
  box-shadow: 0 10px 30px rgba(57, 66, 68, 0.4);
}
@media (max-width: 767px) {
  #suggestion-grid .suggestion-card {
    padding: 4rem 2rem;
    width: 100%;
    margin: 1rem auto;
  }
}

#Schedule {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation: backgroundScroll 30s ease-in-out infinite;
  animation-fill-mode: forwards;
  animation: backgroundScroll 30s ease-in-out infinite;
  background-attachment: fixed;
  background-color: #c8a4ff;
  background-repeat: repeat;
}
#Schedule h1, #Schedule h3 {
  color: #12002d;
  padding: 40px 0 0;
}
#Schedule h1 {
  font-size: 4rem;
}

#Contact {
  margin-top: 12rem;
}
#Contact h1 {
  color: #12002d;
  padding: 40px 0 0;
  font-size: 4rem;
}
#Contact p {
  font-size: 1.2rem;
  margin: 2rem 0;
}
#Contact ul {
  font-size: 1.2rem;
  margin: 3rem 0 2rem -1rem;
}

#Team {
  margin: 2rem 0 4rem;
}
#Team .col-12 {
  padding: 0;
}
@media (min-width: 768px) {
  #Team .col-12 {
    padding: auto;
  }
}
#Team table {
  margin: 0 auto;
  width: auto;
  overflow: hidden;
  text-align: center;
}
@media (min-width: 768px) {
  #Team table {
    border-radius: 1.2rem;
  }
}
#Team th, #Team td {
  min-width: 200px;
}
#Team h1 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
