{% if site.social.email %}<a href="mailto:{{ site.social.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.social.facebook %}<a href="https://www.facebook.com/{{ site.social.facebook }}"><i class="svg-icon facebook"></i></a>{% endif %}
{% if site.social.instagram %}<a href="https://instagram.com/{{ site.social.instagram }}"><i class="svg-icon instagram"></i></a>{% endif %}
{% if site.social.youtube %}<a href="https://youtube.com/{{ site.social.youtube }}"><i class="svg-icon youtube"></i></a>{% endif %}
{% if site.social.github %}<a href="https://github.com/{{ site.social.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.social.linkedin %}<a href="https://www.linkedin.com/{{ site.social.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.social.twitter %}<a href="https://www.twitter.com/{{ site.social.twitter }}"><i class="svg-icon twitter"></i></a>{% endif %}